# Entorno virtual
venv/
env/
ENV/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de configuración de entorno y credenciales (¡Muy importante para que no subas contraseñas!)
.env

# Configuraciones del editor
.vscode/
.idea/

# Logs y bases de datos locales si llegaras a usar SQLite (en SQL Server esto no aplica, pero es útil)
*.log

SQLQuery2.sql